[Unit]
Description=Inhibit idle and sleep (gaming mode)

[Service]
# Disable screen power save mode on service start
ExecStartPre=/usr/bin/xset s off
ExecStartPre=/usr/bin/xset -dpms
# Disable auto suspension
ExecStart=/usr/bin/systemd-inhibit --what=idle:sleep --mode=block --why="Gaming mode" sleep infinity
# Enable screen power save mode on service stop
ExecStopPost=/usr/bin/xset s on
ExecStopPost=/usr/bin/xset +dpms
# When to restart on failure
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
