[Unit]
Description=Monitor hotplug listener

[Service]
ExecStart=%h/.local/bin/screen_monitor
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
