@define-color bg    #1a1a1a; 
@define-color fg    #a9b1d6; 
@define-color blk   #32344a; 
@define-color red   #f7768e; 
@define-color grn   #9ece6a; 
@define-color ylw   #e0af68; 
@define-color blu   #33A4FF; 
@define-color mag   #ad8ee6; 
@define-color cyn   #0db9d7; 
@define-color brblk #323232; 
@define-color white #bcbcbc; 

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 12px;
    font-weight: bold;
    transition: none;
    animation: none;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces {
    padding: 0 4px;
}

#workspaces button {
    padding: 0 2px;
    color: @white;
}
#workspaces button.active {
    color: #1E2A36;
    background: @blu;
    border-radius: 0px;
}
#workspaces button.hidden {
    color: #565656;
}
#workspaces button.hidden.active {
    color: @cyn;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    background: @brblk;
    border-radius: 0;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 5px;
    color: @white;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @white;
}

#battery {
    color: #ededed;
}

/* Normal / good battery */
#battery.good {
    color: @blu;
    border: 1px solid @blu;
}

/* Warning battery */
#battery.warning {
    color: @ylw;
    border: 1px solid @ylw;
}

/* Critical battery */
#battery.critical {
    color: @red;
    border: 1px solid @red;
}

#battery.charging {
    color: @white;
    border: 1px solid @white;
}

#disk {
    color: @ylw;
}

#memory {
    color: @mag;
}
#memory.warning {
    color: @ylw;
}
#memory.critical {
    color: @red;
}

#cpu {
    color: @grn;
}
#cpu.warning {
    color: @ylw;
}
#cpu.critical {
    color: @red;
}

#network {
    color: @red;
}

#network.disconnected {
    background-color: @red;
}

#tray {
    background-color: #424242;
}

#tray * {
    padding: 0 4px;
}
